<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="../statics/style.css">
    <link rel="stylesheet" href="../statics/res.css">
    <link rel="stylesheet" href="../statics/about.css">

</head>

<body>

    <nav class="navbar navres">
        <ul class="thisisul ulres">

            <div class="logo logoo">
                <img src="../statics/123163837_2706511392998414_5913290874147874415_o.jpg" alt="connecting error">
            </div>
            <li id="4li"><a href="/">Home </a> </li>
            <li id="4li"><a href="/contact">Contact </a> </li>
            <li id="4li"><a href="/about">About </a> </li>
            <li id="4li"><a href="#">More </a> </li>
        </ul>
        <div id="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>



    </nav>
    <!-- comments sections -->

    <div class="aboutcon">
        <h1>THE GREAT WAY OF PROMOTING YOUR BUSSINESS IS PROGRAMMING .</h1>
        <div class="about">
            <div class="aboutinside">
                <p class="aboutpara1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quod magni
                    voluptate unde ullam voluptates sunt nihil provident, repellendus id itaque, fuga modi consectetur
                    excepturi Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam iusto debitis fuga vel
                    ratione atque, hic ducimus sequi similique a maxime, eum repellat, voluptatem enim! Eos sint est
                    consectetur officiis? </p>

                <p class="aboutpara2">
                    we just keep on seeking for being better of our BUSSINESS without out wodering that what are the
                    outside effect upon our BUSSINESS..
                <div class="more">
                    you might wodering that what i am talking about so i am just talking about that no matter how much
                    put in your shope but if its not located as per the desired or outcome from you want so change the
                    place

                    </p>
                </div>

                <button id="read"> READ MORE</button>


                <h1 class="abouth1"> comments </h1>


            </div>

        </div>
    </div>



    <div class="commentsec">
        <div class="form-group">
            <form action="/about" , method="POST" , id="myform">
                <label for="">write a comment</label>
                <textarea name="comment" id="textarea" rows="3"></textarea>
                <button id="btnc">  <a href=""></a>    Submit</button>
            </form>
        </div>
    </div>


    <div class="typ">
        <div class="commentbox">
            <!-- <li class="comment">
                <div class="cardbody">
                    <h3>faaiz alam</h3>
                    <p>Lorem ipsum dolor sit.</p>
                    <div class="img">
                        <img src="../statics/download.jfif" alt="">
                        <small> 11:30 pm </small>
                    </div>
                </div>
            </li> -->







            <!-- <li class="comment">
                <div class="cardbody">
                    <h3>faaiz alam</h3>
                    <p>Lorem ipsum dolor sit.</p>
                    <div class="img">
                        <img src="../statics/download.jfif" alt="">
                        <small> 11:30 pm </small>
                    </div>
                </div>
            </li> -->

        </div>
    </div>

























</body>
<script src="../statics/about.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="../statics/ppa.js"></script>
<script src="../statics/responsive.js"></script>


</html>