<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE FREELANCER WILL MAKE YOUR WEB||SUPER </title>
    <link rel="stylesheet" href="../statics/style.css">
    <link rel="stylesheet" href="../statics/res.css">
</head>

<body>
    <!-- navbar -->

    <nav class="navbar navres">
        <ul class="thisisul ulres">

            <div class="logo logoo">
                <img src="../statics/123163837_2706511392998414_5913290874147874415_o.jpg" alt="connecting error">
            </div>
            <li id="4li"><a href='/'> Home </a> </li>
            <li id="4li"><a href="/contact"> Contact </a> </li>
            <li id="4li"><a href='/about'> About </a> </li>
            <li id="4li"><a href="#"> More </a> </li>
        </ul>
        <div id="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>



    </nav>

    <!-- navbar finish -->


    <!-- home starts -->
    <div id="home">
        <h3 class="headings">Hello, my name is: </h3>
        <h1 class="headings2">Faaiz Alam</h1>
        <h1 class="animation">And i am a <div class="typing"> youtuber </div>
        </h1>
        <button id="btn">
            <div class="t"> <a href="/contact">  Apply now  </a>  </div>
            </a>
        </button>


    </div>
    <!-- home finish -->
    <div id="outside">
        <h1 class="sidebarh">MY FRIENDS</h1>
        <section id="sidebar">
            <div class="inside insideres">




                <div class="card1">  <a href="#">  
                        <img src="../statics/kk.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas tempore in modi sunt,
                            tempora quia
                            provident asperiores enim adipisci unde voluptates cum nobis soluta dolorem nihil atque ea
                            exercitationem </p> </a>
                    
                </div>
                <div class="card1">
                    <a href="#">
                        <img src="../statics/beach-1751455_960_720.webp" alt="">
                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero temporibus natus corrupti
                            itaque
                            velit
                            doloremque ducimus, magnam sit laudantium repudiandae placeat. Omnis totam sed
                            exercitationem
                            earum
                            officiis ? Quae, accusamus perspiciatis.</p>
                    </a>
                </div>
                <div class="card1"> <a href="#">
                        <img src="../statics/beach-1751455_960_720.webp" alt="">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas tempore in modi sunt,
                            tempora
                            quia
                            provident asperiores enim adipisci unde voluptates cum nobis soluta dolorem nihil atque ea
                            exercitationem ? </p>  </a>
                </div>
                <div class="card1"> <a href="#">
                        <img src="../statics/p.jpg" alt="">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas tempore in modi sunt,
                            tempora
                            quia
                            provident asperiores enim adipisci unde voluptates cum nobis soluta dolorem nihil atque ea
                            exercitationem ? </p></a>
                </div>
                <div class="card1"> <a href="#">
                        <img src="../statics/p.jpg" alt="">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas tempore in modi sunt,
                            tempora
                            quia
                            provident asperiores enim adipisci unde voluptates cum nobis soluta dolorem nihil atque ea
                            exercitationem ? </p> </a>
                </div>
                <div class="card1"> <a href="#">
                        <img src="../statics/kk.jpg" alt="">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas tempore in modi sunt,
                            tempora
                            quia
                            provident asperiores enim adipisci unde voluptates cum nobis soluta dolorem nihil atque ea
                            exercitatio </p> </a>
                </div>
                <div class="card1"> <a href="#">
                        <img src="../statics/beach-1751455_960_720.webp" alt="">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas tempore in modi sunt,
                            tempora
                            quia
                            provident asperiores enim adipisci unde voluptates cum nobis soluta dolorem nihil atque ea
                            exercitatio </p></a>
                </div>
                <div class="card1"> <a href="#">
                        <img src="../statics/beach-1751455_960_720.webp" alt="">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas tempore in modi sunt,
                            tempora
                            quia
                            provident asperiores enim adipisci unde voluptates cum nobis soluta dolorem nihil atque ea
                            exercitatio </p> </a>
                </div>
                <div class="card1"> <a href="#">
                        <img src="../statics/123163837_2706511392998414_5913290874147874415_o.jpg" alt="">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas tempore in modi sunt,
                            tempora
                            quia
                            provident asperiores enim adipisci unde voluptates cum nobis soluta dolorem nihil atque ea
                            exercitatio </p> </a>
                </div>

            </div>



        </section>
    </div>


    <footer class="first">
        <h3> COPYWRITE 2020-2021 FAAIZALAM </h3>

        <p>back to top|privecy|term</p>
    </footer>
</body>
 <script src="../statics/responsive.js"></script>

</html>